* linguist-vendored
*.py linguist-vendored=false
*.ipynb linguist-vendored=false
*.cs linguist-vendored=false
*.sh linguist-vendored=false
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
Forked_Models/승객[[:space:]]승하차[[:space:]]분류[[:space:]]유효성/docker_files/fs_get_on_off/output/train_log.txt filter=lfs diff=lfs merge=lfs -text
