PIRAS_Terminal/Library/PackageCache/
.vscode/
Forked_Models/승객 승하차 분류 유효성/1. 도커 파일/
Forked_Models/승객 승하차 분류 유효성/2. 로그 파일/
Forked_Models/승객 승하차 분류 유효성/3. 테스트 데이터셋 파일/
Forked_Models/폭행 분류 유효성/
*.avi
*.mp4
Forked_Models/승객 승하차 분류 유효성/docker_files/fs_get_on_off/output/train_log.txt
